@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
:root {
    --text: #707070;
    --highlight: #FCC419;
    --submit: #67CB45;
}

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
/*----------------------------- Left div --------------------------------  */

/* ---------- INVENTEURS LOGO */
.ldiv{
    background-color: #FFFFFF;
    height: 100vh;
    position: relative;
}

.l_content{
    padding: 5vh 4vw;
}

.l_logo img{
    height: 4em;
    width: 6em;
}

.l_content .welcome h1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 400;
}

.l_content .welcome p{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #707070;
    font: 700;

}

.image-left img{
    height: 600px; 
    width: 600px;
    bottom: 0;
    padding-left: 2em; 
    position: absolute; 
    /* margin-top: 50px; */
}
/* ---------------------------- Right div -------------------------------------*/
.rdiv{
    background-color:#f5f6f9;
    height: 100vh;
    position: relative;
}

.r1_content{
    padding: 12vh 6vw;
    color: var(--text);
    font-size: 22px;
    text-align: left;
}

 .headd{
    font-size: 60px;
    font-weight: 400;
}

.paraa{
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 700;
}

.r1_content .i_field{
    width: 100%;
    padding: 0.3em 1em 0.5em 1em;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 1em;
}

.i_field img{
    
    height: 18px;
    width: 25px;
}

.r1_content input[type="number"]{
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: #707070;
    font-family: 'Inter', sans-serif;
    width: 100%;
    opacity: 0.6;
    font-size: 14px;
    /* padding-left: 10px; */
}
.r1_content input[type="text"]{
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: #707070;
    font-family: 'Inter', sans-serif;
    width: 100%;
    opacity: 0.6;
    font-size: 14px;
    /* padding-left: 10px; */
}
.r1_content input[type="email"]{
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: #707070;
    font-family: 'Inter', sans-serif;
    width: 100%;
    opacity: 0.6;
    font-size: 14px;
    /* padding-left: 10px; */
}
.r1_content a{
    color: #707070;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
.r1_content a:hover{
    color: #707070;
    border-bottom: 1px solid #707070;
    /* opacity: 0.5; */
}
.login_btn{
    margin-top: 1.5em;
}

.login_btn button{
    background-color: var(--highlight);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11px;
    width: 50%;
    height: 5em;
    border-radius: 5px;
    border: none;
    /* outline: none; */
}

.footer{
    position: absolute;
    bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}
.footer .row{
    padding: 0 6vw;
}
.footer a{
    color: var(--text);
    text-decoration: none;
}
.footer a:hover{
    color: var(--highlight)

}
.m2{
    text-align: right;
}
/*---------------------------------- FOR NUMBER INPUTS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width : 1000px){
    .ldiv1{
        display: none;
    }
    .r1_content{
        padding: 15vh 10vw;
        color: var(--text);
        font-size: 22px;
        text-align: left;
    }
    .footer .row{
        padding: 0 10vw;
    }
}


.submit_btn button{
    background-color: var(--submit);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11px;
    width: 50%;
    height: 4em;
    border-radius: 5px;
    border: none;
    /* outline: none; */
}